.flex-row {
  display: flex;
  flex-direction: column;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 200px;
  margin-bottom: 148px;
  z-index: 10;

  @media (max-width: 767px) {
    margin-top: 124px;
  }

  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 88px;
    width: 100%;
    max-width: var(--gdf-default-container-width);
    padding: 0 32px;
    position: relative;

    @media (max-width: 767px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .title-header {
    text-align: center;
    font: var(--font-heading-14);

    @media (max-width: 1023px) {
      font: var(--font-heading-12);
    }
  }
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 16px;
  max-width: 890px;
  top: calc(-32px - 24px);

  h2:nth-child(1) {
    text-transform: uppercase;
    color: var(--gdf-purple-heliotrope);
    font: var(--font-heading-8);

    @media (max-width: 1023px) {
      font: var(--font-heading-6);
    }
  }

  h2:nth-child(2) {
    font: var(--font-heading-14);

    @media (max-width: 1023px) {
      font: var(--font-heading-12);
    }
  }

  h2:nth-child(3) {
    text-align: center;
    padding-left: 148px;
    padding-right: 148px;

    @media (max-width: 1023px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.form-contact {
  width: 100%;
  height: 100%;

  form {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    @media (max-width: 1023px) {
      gap: 24px;
    }

    .input-info {
      display: grid;
      grid-auto-rows: minmax(min-content, max-content);
      grid-template-columns: repeat(3, minmax(calc(100% / 3 - 32px), 1fr));
      gap: 32px;
      width: 100%;

      @media (max-width: 1023px) {
        grid-template-columns: repeat(1, minmax(calc(100% / 1 - 32px), 1fr));
        gap: 24px;
      }
    }

    .group-btn {
      display: flex;
      justify-content: center;
      width: 100%;

      .btn-contact-info {
        padding: 8px 27px;
        color: var(--gdf-white);
        background: var(--gdf-purple-medium);
        font: var(--font-heading-4);
      }
    }
  }
}

.bg-coming-soon {
  position: absolute;
  bottom: -148px;
  opacity: 0.6;
  z-index: -1;
}
