.flex-row {
  display: flex;
  flex-direction: column;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 200px;
  z-index: 10;

  @media (max-width: 767px) {
    margin-top: 124px;
  }

  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
    width: 100%;
    max-width: var(--gdf-default-container-width);
    padding: 0 32px;
    position: relative;

    @media (max-width: 767px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .title-header {
    text-align: center;
    font: var(--font-heading-14);

    @media (max-width: 1023px) {
      font: var(--font-heading-12);
    }
  }
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 16px;
  max-width: 890px;
  top: calc(-32px - 24px);

  h2:nth-child(1) {
    text-transform: uppercase;
    color: var(--gdf-purple-heliotrope);
    font: var(--font-heading-8);

    @media (max-width: 1023px) {
      font: var(--font-heading-6);
    }
  }

  h2:nth-child(2) {
    font: var(--font-heading-14);

    @media (max-width: 1023px) {
      font: var(--font-heading-12);
    }
  }
}

.reviews {
  display: flex;
  width: 83%;
  min-height: 389px;
  background: var(--gdf-white);
  border-radius: 40px;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (max-width: 1023px) {
    width: 100%;
  }

  .review {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 100%;

    .review-header {
      @extend .flex-row;
      row-gap: 16px;

      .review-star {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 2px;
      }

      .comment-content {
        display: flex;
        flex-direction: row;
        column-gap: 27px;
        padding-left: 90px;
        padding-right: 226px;

        @media (max-width: 1023px) {
          padding: 32px 24px;

          div:nth-child(1) {
            display: none;
          }
        }

        header {
          color: var(--gdf-blue-charade);
          text-align: center;
        }
      }
    }
  }
}

.review-content {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: var(--gdf-blue-charade);

  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
  }

  .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: var(--gdf-blue-whisper);
    overflow: hidden;

    img {
      display: flex;
      align-items: center;
      object-fit: cover;
      object-position: center center;
      border: 1px solid var(--gdf-blue-ghost);
    }
  }
}
