.navbar-menu {
  display: flex;
  flex-direction: row;
  column-gap: 40px;

  .navbar-item {
    position: relative;
    padding-top: 36px;
    padding-bottom: 36px;
    cursor: pointer;
    color: var(--gdf-blue-ghost);
  }

  @media (max-width: 1023px) {
    position: fixed;
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: repeat(1, minmax(100%, 1fr));
    row-gap: 24px;
    padding: 44px 24px;
    text-align: center;
    top: 84px;
    right: 0;
    left: 0;
    max-width: 100%;
    height: max-content;
    transform: translateX(100%);
    transition: transform linear 350ms;
    z-index: 12;

    &.navbar-mobile {
      transform: translateX(0%);
      transition: transform linear 350ms;
    }

    .navbar-item {
      padding-top: 18px;
      padding-bottom: 18px;
    }
  }
}

@keyframes faceOut {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
