.close-modal {
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 16px;
  width: 24px;
  height: 24px;
  z-index: 999;

  &:hover {
    path {
      fill: var(--gdf-blue);
    }
  }
}

.wrapper {
  transition: all 300ms ease-in-out;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);

  &.show {
    display: flex;
  }
}

.inner {
  transition: all 300ms ease-in-out;
  position: relative;
  box-sizing: border-box;
  background-color: var(--gdf-white);
  border-radius: 12px;
  width: 365px;
  height: 332px;
}
