@import 'reset';

@font-face {
  font-family: 'Sen';
  src: url('../fonts/Sen.ttf');
}
body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--background);
  color: var(--text);
  font: var(--font-heading-5);
  overflow: hidden scroll;
  max-width: 100%;
  scroll-behavior: smooth;

  @media (max-width: 767px) {
    font: var(--font-heading-3);
  }
}

:root {
  /* Colors */
  --gdf-blue: #4b9eff;
  --gdf-blue-charade: #292938;
  --gdf-blue-curious: #3394cb;
  --gdf-blue-cyan: #23e5ff;
  --gdf-blue-east-bay: #4d5282;
  --gdf-blue-ghost: #c6c6d7;
  --gdf-blue-picton: #1ac4e9;
  --gdf-blue-tangaroa: #031d44;
  --gdf-blue-whisper: #eaeaf5;
  --gdf-blue-zodiac: #143059;
  --gdf-pink-heliotrope: #e735eb;
  --gdf-green: #46be72;
  --gdf-grey-manatee: #9595a9;
  --gdf-grey-mid: #5e5e70;
  --gdf-purple-gradient: linear-gradient(63.3deg, #8423d0 7.52%, #e735eb 92.35%);
  --gdf-purple-heart: #8423d0;
  --gdf-purple-heliotrope: #bd80f4;
  --gdf-purple-lavender: #b173ea;
  --gdf-purple-logan: #aa9cc4;
  --gdf-purple-medium: #7b47e1;
  --gdf-red: #ff3737;
  --gdf-white: #ffffff;
  --gdf-yellow: #fcca19;
  --text: #ffffff;
  --background: #202763;

  /* Fonts */
  --font-heading-1: 400 14px/20px 'Sen';
  --font-heading-2: 700 14px/20px 'Sen';
  --font-heading-3: 400 16px/24px 'Sen';
  --font-heading-4: 700 16px/24px 'Sen';
  --font-heading-5: 400 18px/24px 'Sen';
  --font-heading-6: 700 18px/24px 'Sen';
  --font-heading-7: 400 20px/24px 'Sen';
  --font-heading-8: 700 20px/24px 'Sen';
  --font-heading-9: 400 24px/32px 'Sen';
  --font-heading-10: 700 24px/32px 'Sen';
  --font-heading-11: 400 34px/48px 'Sen';
  --font-heading-12: 700 34px/48px 'Sen';
  --font-heading-13: 400 48px/72px 'Sen';
  --font-heading-14: 700 48px/72px 'Sen';
  --font-heading-15: 700 60px/72px 'Sen';

  /* Default Layout */
  --gdf-default-container-width: 1430px;
  --gdf-default-layout-header-height: 96px;

  /* Devices Responsive */
  --gdf-mobile-s: '(min-width: 320px) and (max-width: 800px)';
  --gdf-mobile: '(min-width: 375px) and (max-width: 900px)';
  --gdf-mobile-l: '(min-width: 425px) and (max-width: 950px)';
  --gdf-tablet: '(min-width: 768px)';
}
