.gdf-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.gdf-container {
  display: flex;
  width: var(--gdf-default-container-width);
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.gdf-content {
  flex: 1;
}

.gdf-heading-1 {
  font: var(--font-heading-1);
}

.gdf-heading-2 {
  font: var(--font-heading-2);
}

.gdf-heading-3 {
  font: var(--font-heading-3);

  @media (max-width: 1023px) {
    font: var(--font-heading-1);
  }
}

.gdf-heading-4 {
  font: var(--font-heading-4);

  @media (max-width: 1023px) {
    font: var(--font-heading-2);
  }
}

.gdf-heading-5 {
  font: var(--font-heading-5);

  @media (max-width: 1023px) {
    font: var(--font-heading-3);
  }
}

.gdf-heading-6 {
  font: var(--font-heading-6);

  @media (max-width: 1023px) {
    font: var(--font-heading-4);
  }
}

.gdf-heading-7 {
  font: var(--font-heading-7);

  @media (max-width: 1023px) {
    font: var(--font-heading-5);
  }
}

.gdf-heading-8 {
  font: var(--font-heading-8);

  @media (max-width: 1023px) {
    font: var(--font-heading-6);
  }
}

.gdf-heading-9 {
  font: var(--font-heading-9);

  @media (max-width: 1023px) {
    font: var(--font-heading-7);
  }
}

.gdf-heading-10 {
  font: var(--font-heading-10);

  @media (max-width: 1023px) {
    font: var(--font-heading-8);
  }
}

.gdf-heading-11 {
  font: var(--font-heading-11);

  @media (max-width: 1023px) {
    font: var(--font-heading-9);
  }
}

.gdf-heading-12 {
  font: var(--font-heading-12);

  @media (max-width: 1023px) {
    font: var(--font-heading-10);
  }
}

.gdf-heading-13 {
  font: var(--font-heading-13);

  @media (max-width: 1023px) {
    font: var(--font-heading-11);
  }
}

.gdf-heading-14 {
  font: var(--font-heading-14);

  @media (max-width: 1023px) {
    font: var(--font-heading-12);
  }
}

.gdf-flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media (max-width: 1023px) {
    flex-direction: column;
    row-gap: 24px;
  }
}

.gdf-title {
  font: var(--font-heading-6);
}

.gdf-desc {
  font: var(--font-heading-2);
  text-align: center;
  color: var(--gdf-grey-manatee);
}
