.nav-active {
  color: var(--gdf-white);
  font: var(--font-heading-6);

  &::before {
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: var(--gdf-white);
  }

  @media (max-width: 1023px) {
    &::before {
      display: none;
    }
  }
}

.Toastify__toast-container {
  width: fit-content !important;
}

.Toastify__toast--success {
  color: #1a1a1c !important;
  font: var(--font-heading-4);
}

.Toastify__toast--error {
  background: #1a1a1c99 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 22px !important;
  letter-spacing: 0.01em !important;
  color: #ffffff !important;
  border-radius: 4px !important;
  padding: 3px 15px !important;
}

.Toastify__toast-container .Toastify__toast {
  display: flex;
  column-gap: 24px;
  padding: 0;
  min-height: 20px;
  border-radius: 9px;
  background-color: #f0f5f9;
  filter: drop-shadow(0px 1px 1px rgba(9, 30, 66, 0.25)) drop-shadow(0px 0px 1px rgba(9, 30, 66, 0.31));
}

.Toastify__toast-container .Toastify__toast button {
  align-self: auto;
  padding-right: 10px !important;
}
